nav{
    position: sticky;
    top: 0;
}

.left {
    float: left;
    display: inline-block;
}

.right {
    float: right;
    display: inline-block;
}

h1 {
    font-size: 48px;
    text-align: center;
}

input::-webkit-input-placeholder {
    /* placeholder字体大小 */
    font-size: 20px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*设置导航*/
.navbar {
    background-color: #fd7e14;
    border-radius: 15px;
    padding: 10px;
    height: 60px;
    font-size: 36px;
}
.navbar a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.navbar input {
    margin-right: 10px;
    line-height: 40px;
    width: 300px;
    vertical-align: middle;
    border-radius: 15px;
    font-size: 32px;
}

.navbar button{
    /*margin-top: 10px;*/
    /*height: 40px;*/
    line-height: 40px;
    font-size: 36px;
}

.navbar div div{
    margin: 0 20px;
}

body {
    background-color: #ffeeba;
}