div.content form{
    background-color:chocolate;
    width: 60%;
    margin: 80px auto;
    border-radius: 10px;
    font-size: 32px;
    padding: 10px 0;
}

div.content form h2{
    text-align: center;
    font-size: 36px;
}

div.content form label{
    width: 20%;
    display: inline-block;
    text-align: right
}

div.content form input[type='text']{
    font-size: 32px;
    width: 60%;
}

div.content form input::placeholder{
    font-size: 32px;
}

div.content form button{
    width: 15%;
    /* height: 40px; */
    line-height: 32px;
    font-size: 32px;
    display: block;
    margin: 10px auto;
}
