{% extends 'my/base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='my/css/post_detail.css') }}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="post-container">
          <h2>{{ post.title }}</h2>
          <p class="post-info-group">
            <span>发表时间：{{ post.create_time }}</span>
            <a href="{{ url_for('user.personal_center', user_uid=post.author.uid) }}"><span>作者：{{ post.author.username }}</span></a>
            <span>所属板块：{{ post.board.name }}</span>
            <span>阅读数：{{ post.read_count }}</span>
            <span>评论数：{{ post.comments|length }}</span>
          </p>
          <article class="post-content" id="post-content">
            {{ post.content|safe }}
          </article>
        </div>
        {% if comments %}
            <div class="comment">
                <h3>评论区</h3>
                {% for comment in comments %}
                    <div class="history">
                        <div>{{ comment.author.username }} - {{ comment.create_time }}</div>
                        <p>{{ comment.content }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form class="comment" action="{{ url_for('front.add_comment',post_id=post.id) }}" method="post">
            <textarea rows="5" placeholder="请输入你的想法" maxlength="3000" name="content"></textarea>
            <button type="submit">提交评论</button>
        </form>
    </div>
{% endblock %}