{% extends "my/base.html" %}

{% block content %}
    <div>
        <form class="register" action="" method="post">
            <h1>注册</h1>
            {% if form %}
                {{ form.csrf.token() }}
            {% endif %}
            <div>
                <span>邮箱</span>
                <input type="email" placeholder="请输入邮箱">
                <button>发送验证码</button>
            </div>
            <div>
                <span>验证码</span>
                <input type="email" placeholder="请输入验证码">
            </div>
            <div>
                <span>用户名</span>
                <input type="email" placeholder="请输入用户名">
            </div>
            <div>
                <span>密码</span>
                <input type="email" placeholder="请输入密码">
            </div>
            <div>
                <span>确认密码</span>
                <input type="email" placeholder="请输入密码">
            </div>
        </form>
    </div>

{% endblock %}
